
.login-button {
    display: flex;
    width: 5rem;
    height: automatic;
    background:lightsteelblue;
    color: aliceblue;
    margin: 1% 0% 1% 5%;
}

img {
    display: flex;
    
    /* width: 96%;
    height: 100%; */
    margin: 0% 2% 0% 5% ;
    border: 1px solid aliceblue;
    scale:1.5;
    
}