

.button-container {

    display: flexbox;
    justify-content: space-between;
}

.search-box {
    display: inline-flexbox;
    justify-content: flex-start;
    width: 20%;
    height: 2.5rem;
}



Button {
    display: inline-flexbox;
    justify-content:right;
    width: 6rem;
    height: 2.5rem;
    background:lightsteelblue;
    color: aliceblue;
    margin: 0% ;
    padding-bottom:2%;
}
/* size='large' */