


h1 {
    display: none; 
    position: absolute;
    top: 50px;
    text-align: center;
    color:royalblue;
    font-size: 3rem;
    z-index: 2;
    background: transparent;
}

.button-container {

    display: flex;
    justify-content: space-between;
   
}

Button {
    /* display: inline-flex; */
    position: absolute;
    top: 58px;
    left:93%;
    justify-content:right;
    width: 6rem;
    height: 2.5rem;
    background:lightsteelblue;
    color: aliceblue;
    z-index: 2;
    margin: 0;
  

}

.main-image {
    object-fit: cover;
/*  
    width: 100%;
    height: 100%; */
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    width: 90%;
    height: 90vh;
}

.popUp {
    width: 200px;
    height: auto;
    background: white;
    border: 3px solid black;
    border-radius: 18px;
    padding: 10px;
    z-index: 9999;
  }